.ctn-register {
  width: 100vw;
  min-height: 100vh;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url('../../assets/images/bg-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;

  &__register-form {
    width: 600px;
    height: fit-content;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 8px;

    &__title {
      text-align: center;
    }

    .register-form-next {
      float: right;
    }

    .register-form-submit {
      float: right;
    }

    .ant-input {
      border-radius: 1rem;
    }

    .ant-input-affix-wrapper {
      border-radius: 1rem;
    }

    .ant-select-selector {
      border-radius: 1rem !important;
    }
  }
}
