.mobileNav__wrapper {
}

.mobileNav__icon {
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 5px 10px;
  cursor: pointer;
}

.mobileNav__overlays {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.25s ease;
}

.mobileNav__overlays--transition {
  transform: translateX(0%);
  opacity: 1;
}

.mobileNav_close-btn-wrapper {
  text-align: right;
}

.mobileNav_close-btn {
  padding: 10px;
  border: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
  outline: none;
  background: #fff;
}

.mobileNav__account {
  padding: 0 18px 24px;

  & > .mobileNav__account-heading {
    text-align: left;
  }
}

.mobileNav__account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  & > button {
    width: 100%;
  }
}

.mobileNav__list-wrapper {
  padding: 24px 18px 0;
  border-top: 1px solid rgba(204, 204, 204, 0.45);
}

.mobileNav__list {
  list-style-type: none;
}

.mobileNav__item {
  font-size: 1rem;
  text-transform: capitalize;
  text-align: left;
  padding: 6px 12px;
  border-radius: 5px;
  margin: 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;

  &:hover {
    background: #f0f0f0;
  }
}

.mobileNav__icon {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 5px 10px;
  cursor: pointer;
  transform: translateY(2px);
}

.mobileNav__words {
}

@media (max-width: 468px) {
  .mobileNav__account-btn {
    flex-direction: column;
  }
}
