.header__subnav-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 15px;
  min-width: 260px;
  cursor: default;
  border-radius: 4px;
  box-shadow: 2px -1px 4px 1px #00000030;
  -webkit-transform: perspective(600px) rotateX(-90deg);
  transform: perspective(600px) rotateX(-90deg);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
}

.header__subnav {
  list-style-type: none;
}

.header__subnav-item {
}

.header__subnav-link {
  border-radius: 6px;
  display: block;
  font-size: 1rem;
  font-weight: lighter;
  text-align: left;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-out;
  padding: 6px 20px;

  &:hover {
    background: #f4f4f4;
    color: #dc834e;
  }
}
