.layout-cms-customer {
  min-height: 100vh;
  height: fit-content;
  min-width: 100vw;
  width: fit-content;
}

.cms-content {
  margin: 24px 16px 0;
  overflow: initial;
  &__action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
}
