.my-tour {
  margin: 120px auto;
  margin-top: 150px;
  width: 1290px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  &__price {
    font-size: 26px;
    font-weight: bolder;
    color: var(--primary);
  }

  & .ant-list-item-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
