footer.footer__wrapper {
  color: #fff;
}

.footer__upper {
  background: #202f59;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 50px 315px;
  text-align: left;
  gap: 30px;
}

.footer__heading {
  margin-bottom: 16px;
  font-size: 20px;
}

.footer__info-description {
  margin-bottom: 16px;
}

span.footer__info-description-words {
  color: #9ca2b1;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 24px;
}

.footer__info-address {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 16px;
}

h4.ant-typography.footer__heading {
  margin-bottom: 24px;
  color: #fff;
  font-weight: 700;
}

ul.footer__list {
  padding: 0;
  list-style-type: none;
}

li.footer__item {
  text-transform: capitalize;
}

a.footer__link {
  font-size: 1.1rem;
  color: #9ca2b1;
  padding: 4px 0;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: #dc834e;
  }
}

p.footer__detail-words {
  color: #9ca2b1;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

input.ant-input.ant-input-lg.footer__detail-input {
  margin-bottom: 16px;
  background-color: #fff0;
  border-color: #37446a;
  border-width: 2px;
  border-radius: 5px 5px 5px 5px;
  color: #9ca2b1;
  font-size: 1.1rem;
  outline: #dc834e;
  text-align: center;
  padding: 10px 16px;
}
button.ant-btn.ant-btn-default.ant-btn-lg.footer__info-view-map-btn {
  border: none;
  &:hover {
    border: none;
    background: #dc834e;

    & > span {
      color: #fff;
    }
  }

  border-radius: 6px;
  & > span {
    font-weight: 700;
  }
}

button.ant-btn.ant-btn-primary.footer__detail-btn {
  width: 100%;
  height: 50px;
  background: #dc834e;
  outline: none;
  border: none;
  border-radius: 6px;

  &:hover {
    background: #9e5d36;
  }

  & > span {
    font-weight: 700;
  }
}

.footer__lower {
  background: #1b2951;
  display: flex;
  height: 130px;
  padding: 0 315px;
  align-items: center;
  justify-content: space-between;
}

.footer__lower-words {
  color: #9ca2b1;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 24px;
}

a.footer__lower-link {
  color: #dc834e;
  transition: all 0.2s ease;

  &:hover {
    color: #9e5d36;
  }
}

ul.footer__lower-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}

li.footer__lower-item {
  margin: 0 13px;
}

a.footer__low-link {
  text-transform: capitalize;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.2s ease;
  &:hover {
    color: #dc834e;
  }
}

.section-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 315px;
  margin: 0 auto;
  background-image: url('../../assets/images/background-home.webp');
  background: #f9f4f082;
  background-repeat: no-repeat;

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__link {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 16px;
    text-decoration: none;

    &-icon {
      position: relative;
      top: 6px;
    }

    &-words {
      color: #202f59;
      transition: all 0.2s ease;

      &:hover {
        color: #dc834e;
      }
    }
  }
  &__text {
    font-size: 16px;
    color: #999;
  }

  &__follow-us {
    display: flex;
    flex-direction: column;
  }

  &__wrapper-button {
    margin-top: 16px;
    display: flex;
    gap: 1rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1700px) {
  .section-4 {
    .section-4 {
      padding-left: 315px;
      padding-right: 315px;
    }
    &__link {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1450px) {
  .section-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 1290px) {
  .footer__upper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer__lower {
    padding: 1rem;
  }
}

@media (max-width: 1000px) {
  .footer__upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__info-wrapper {
    grid-column: 1 / 5;
    display: grid;
    column-gap: 40px;
  }

  .footer__info-description {
    margin-bottom: 0;
    text-align: center;
  }

  .footer__direct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__lower {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer__heading--center {
    text-align: center;
  }

  .footer__heading {
    margin-bottom: 0;
  }

  .footer__list-wrapper.footer__list-mobile--left {
    text-align: center;
  }

  .footer__detail-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 980px) {
  .section-4 {
    &__link {
      font-size: 1.5rem;
    }
    &__wrapper-button {
      gap: 0.5rem;
    }
  }
}

@media screen and (max-width: 850px) {
  .section-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      text-align: center;
    }

    &__link {
      margin-top: unset;
    }

    &__follow-us {
      margin-top: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-4 {
    &__link {
      font-size: 1.4rem;
    }
    &__wrapper-button {
      gap: 0.5rem;
    }
  }
}

@media (max-width: 678px) {
  .footer__upper {
    gap: 0;
    row-gap: 40px;
  }

  .footer__list-mobile--left {
    grid-column: 1/3;
  }

  .footer__list-mobile--right {
    grid-column: 3/5;
  }

  .footer__detail-wrapper {
    grid-row: 3/ 4;
    grid-column: 1/5;
  }

  .footer__list-wrapper {
    &.footer__list-mobile--left,
    &.footer__list-mobile--right {
      text-align: center;
    }
  }
}

@media (max-width: 468px) {
  .footer__info-description-words,
  .footer__info-address-words,
  h4.ant-typography.footer__heading,
  a.footer__link,
  p.footer__detail-words {
    font-size: 1rem;
  }

  p.footer__detail-words {
    text-align: center;
  }

  .footer__info-address,
  .footer__info-address-words {
    text-align: center;
  }

  h4.ant-typography.footer__heading {
    margin-bottom: 8px;
    text-align: center;
  }

  .footer__list-wrapper {
    &.footer__list-mobile--left,
    &.footer__list-mobile--right {
      text-align: center;
    }
  }

  input.ant-input.ant-input-lg.footer__detail-input {
    font-size: 1rem;
  }

  .footer__lower-words {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  li.footer__lower-item {
    margin: 0 8px;
  }

  a.footer__low-link {
    font-size: 1rem;
  }
}
