img.logo {
  width: 100%;
  padding: 20px;
  transition: all 0.2s ease;
  transform: scale(0.8);

  &:hover {
    transform: scale(0.9);
  }
}

span.ant-breadcrumb-link {
  h3.ant-typography {
    margin: 24px 0 0 24px;
    font-size: 2.2rem;
    text-shadow: 3px 3px 3px #0000004a;
  }
}
