.header__navbar-wrapper {
  display: flex;
  height: 100%;
  flex: 1;
}

.header__navbar {
  display: flex;
  flex: 1;
  margin-bottom: 0;
  list-style-type: none;
  height: 100%;
  align-items: center;
}

.header__navbar-item {
  margin-right: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.2s ease-out;

  &:hover {
    color: #dc834e;

    > .header__subnav-wrapper {
      opacity: 1;
      -webkit-transform: perspective(600px) rotateX(0);
      transform: perspective(600px) rotateX(0);
      -webkit-transform-origin: 0 0 0;
      transition: all 0.5s ease-in-out;
      visibility: visible;
    }
  }

  &::after {
    content: '.';
    position: absolute;
    right: 8px;
    top: 50%;
    font-size: 2rem;
    transform: translateY(-60%);
    color: #dc834e;
  }
}

.header__navbar-item--active {
  color: #dc834e;
}
