.checkout-info-display {
    width: 100%;

    .ctn-result {
        background-color: #f6f6f6;
        padding: 2rem 0;

        .result-payment {
            color: #f7931e;
        }
    }

    &__content {
        .ant-typography {
            letter-spacing: 1.5px;
        }
        text-align: right;
    }

    &__ticket-ctn {
        display: flex;
        flex-direction: column;
    }

    .synthetic-price {
        text-align: right;
    }
}
