.checkout-info-display {
    width: 100%;

    .ctn-result {
        background-color: #666666;
        padding: 2rem 0;

        .result-payment {
            color: #f7931e;
        }
    }

    &__ticket-ctn {
        display: flex;
        flex-direction: column;
    }

    .synthetic-price {
        text-align: right;
    }
}
